<ion-content padding>

	<form [formGroup]="destinatarioForm">

		<ion-item class="hidden">
			<ion-icon name="appname-br"></ion-icon>
			<ion-select #_ddi (ionChange)="onChangeDDI($event)">
				<ion-option *ngFor="let flag of bandeiras" [value]="flag.code">{{flag?.name}}</ion-option>
			</ion-select>
		</ion-item>

		<ion-item (click)="openSelect()">
			<ion-label class="text">DDI</ion-label>
			<ion-label class="icon-text" *ngIf="model">
				<ion-icon class="custom-ico-{{model.code | lowercase}}" range-left small item-start>
				</ion-icon> {{model.code}} {{model.dial_code}}
			</ion-label>
		</ion-item>
		<ion-item no-lines class="divider"></ion-item>

		<ion-item (click)="setFocusDDD()">	
			<ion-label class="text" stacked> DDD </ion-label>
			<ion-input class="input" #_ddd maxlength="2" [(ngModel)]="ddd" formControlName="ddd" name="ddd" type="tel"
				(ionChange)='onChangeDDD($event)' autocomplete="off" clearInput>
			</ion-input>
		</ion-item>
		<ion-item no-lines class="divider">
			<div *ngIf="!regras.isValidoDDD(destinatarioForm) && ddd != null" class="form-error"> {{enums.ValidationEnum.DDD_WARNING}} </div>
		</ion-item>
		

		<ion-item (click)="setFocusTel()" class="item">
			<ion-label stacked class="text" >TELEFONE</ion-label>
			<ion-input class="input" #_tel maxlength="9" [(ngModel)]="numero" formControlName="numero" name="numero"
				type="tel" (ionChange)='onChangeNumero($event)' autocomplete="off" clearInput>
			</ion-input>
		</ion-item>
		<ion-item no-lines class="divider">
			<div *ngIf="!regras.isValidoNumero(destinatarioForm) && numero != null" class="form-error"> {{enums.ValidationEnum.FONE_WARNING}}</div>
		</ion-item>


		<button (click)="goMessage()" class="btn" ion-button color="primary" #add full ion-button icon-start [disabled]="!destinatarioForm.valid">
      		<ion-icon class="icon" ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon> {{enums.ElementsText.TEXT_TALK_BUTTON}}
    	</button>

		<button (click)="limparFormulario()" class="btn" ion-button color="warning" #del full ion-button icon-start>
			<ion-icon class="icon" ios="ios-trash" md="md-trash"></ion-icon> {{enums.ElementsText.TEXT_CLEAR_BUTTON}}
		</button>

	</form>


	
</ion-content>
<ion-fab right bottom>
	<button (click)="about(null)" ion-fab color="warning" mini><ion-icon ios="ios-bulb" md="md-bulb"></ion-icon></button>
</ion-fab>